name: First Workflow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        -   name: Demo Step
            run: echo "Welcome to GitHub Actions"

        -   name: List Files
            run: ls